<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="github.earth">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/splash_image"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splash_image"
        android:supportsRtl="true"
        android:theme="@style/Theme.Earth">
        <activity android:name=".ErrorActivity"/>
        <activity android:name=".authscreen.LoginActivity" />
        <activity android:name=".authscreen.RegisterActivity" />
        <activity android:name=".authscreen.ResetActivity" />

        <!-- Activities -->

        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppSplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Earth">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>